/* ====== GLOBAL ====== */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

/* ====== LAYOUT ====== */

.gameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameGrid {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(75px, 100px));
    grid-template-columns: repeat(3, minmax(75px, 100px));
    gap: 12px;
}

.status {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    align-items: center;
}

/* ====== CELL STYLES ====== */

.cell {
    position: relative;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);

    background-color: #dcd8c0;
    overflow: hidden;

    transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s,
        transform 0.2s;
}

/* ====== CELL INTERACTION ====== */

.cell:not(:has(span)) {
    cursor: pointer;
}

.cell:has(span) {
    cursor: default;
    pointer-events: none;
}

.cell:hover {
    background-color: #454138;
    color: #dcd8c0;
    box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}

/* ====== CELL CONTENT ====== */

.cell span:not(:empty) {
    display: block;
    transform-origin: center;
    animation: appear 0.4s cubic-bezier(0.5, 1.8, 0.1, 1.1) forwards;
}

/* ====== CELL WIN LOSE HIGHLIGHT ====== */

.cell.highlight-winner {
    color: #dcd8c0 !important;
    box-shadow: inset 0 0 0 2px #bab5a1;
    transform: scale(1.05);
    z-index: 2;
}

.cell.highlight-winner:after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #454138;
    z-index: -1;

    transform-origin: left center;
    animation: slide 0.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.cell.highlight-winner span {
    animation: blink 0.12s steps(3) 2;
}

.cell.highlight-other {
    background-color: #bab5a1;
    opacity: 0.5;
    transform: scale(0.97);
    transition: all 0.4s ease;
}

/* ====== ANIMATIONS ====== */

@keyframes appear {
    0% {
        transform: scale(0.3);
    }
    60% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}