body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

.gameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.657);
    transition: all 0.2s;
    background-color: #dcd8c0;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
}

.cell:not(:has(span)) {
    cursor: pointer;
}

.cell:has(span) {
    cursor: default;
    pointer-events: none;
}

.cell span:not(:empty) {
    display: block;
    animation: appear 0.4s cubic-bezier(0.5, 1.8, 0.1, 1.1) forwards;
}

.cell:hover {
    box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
    background-color: #454138;
    color: #dcd8c0;
}

.gameGrid {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(75px, 100px));
    grid-template-columns: repeat(3, minmax(75px, 100px));
    gap: 12px;
}

.status {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    align-items: center;
}

@keyframes appear {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}
